# Rename to `config.ini`, and keep it in the same folder as `gh-issues-import.py`
# For a full list of options, see <http://www.iqandreas.com/github-issues-import/configuration/>

[login]
username = stevebrownlee
password = xxxxx.xxxx.x.x.x.xxxx.x.xx.xxxx.xxx.xxxx

[source]
repository = nashville-software-school/nutshell

[target]
repository = nss-cohort-37/callous-capybaras-nutshell

[project]
name = Nutshell
columns = ["Backlog", "In Progress", "Ready to Test", "Complete"]

[server]
base_url = https://api.github.com
media_type = application/vnd.github.inertia-preview+json

[github]
media_type = application/vnd.github.inertia-preview+json

[format] # These can be adjusted based on your group's region and language.

# If unsure, just using '%c' will default to the locale’s appropriate date and time representation.
#date = %A %b %d, %Y at %H:%M GMT # Sample: Friday Sep 13, 2013 at 22:58 GMT

